*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**CARRITO**/
.imgCarrito{
  width: 100%;
}

.carro-item{
  display: flex;
  justify-content: space-between;
}
.cantidad {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.fa-trash{
  color: brown;
  float: right;
}
